<nb-card>
  <nb-card-body>

    <label class="search-label" for="search">Search:</label>
    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

    <table [nbTreeGrid]="dataSource1" [nbSort]="dataSource1" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns1"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"1></tr>

      <ng-container [nbTreeGridColumnDef]="allColumns1[0]">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(allColumns1[0])" *nbTreeGridHeaderCellDef>
          {{allColumns1[0]}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <!-- <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon> -->
          {{row.data[allColumns1[0]]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns1; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{index +1}}</td>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-body>

    <label class="search-label" for="search">Search:</label>
    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="allColumns[0]">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(allColumns[0])" *nbTreeGridHeaderCellDef>
          {{allColumns[0]}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
          {{row.data[allColumns[0]]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>
