<div class="row ">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>{{ title }}</nb-card-header>
      <nb-card-body>
        <nb-icon icon="alert-circle-outline"> </nb-icon>
        <nb-icon icon="fa-solid fa-triangle-exclamation" pack="font-awesome" class="icon-triangle"></nb-icon>
        <p>Driver: {{data}}</p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" shape="semi-round" (click)="delete()">Delete</button>
        <button nbButton status="primary" shape="semi-round" (click)="cancel()">Cancel</button>
      </nb-card-footer>
    </nb-card>

    </div>
  </div>
