<nb-layout windowMode>
  <nb-layout-header fixed>
    <div class="header">
      <nb-icon icon="paper-plane-outline"></nb-icon>
      <h1>Juego de Carros</h1>
    </div>
  </nb-layout-header>

  <nb-layout-header subheader >
    <div class="control-panel" *ngIf="dataMenuGame$ | async as menu">
      <a (click)="toggle()">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>

      <div>
        <nb-actions size="large">
          <nb-action> {{menu}}</nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>

  <!-- menu -->
  <nb-sidebar responsive>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>

  <!-- contenido de la columna segun la ruta colocada -->

  <nb-layout-column class="colored-column-warning">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

</nb-layout>
