<div class="column">
  <div class="col-md-6">
    <nb-card status="success">
      <nb-card-header>Configure you game</nb-card-header>

      <nb-card-body *ngIf="!dataExist">
        <app-choose-track-and-number-of-players
          (dataExist)="dataOfTrack($event)"
        ></app-choose-track-and-number-of-players>
      </nb-card-body>

      <nb-card-body *ngIf="dataExist">
        <app-write-the-players
          [dataNumberOfPlayers]="gameForm.numberOfPlayers"
          (dataPlayers)="dataOfPlayer($event)"
        ></app-write-the-players>
      </nb-card-body>
      <nb-card-footer *ngIf="gameStarted" >
        <button
          nbButton
          status="primary"
          shape="semi-round"
          [disabled]="disableButton()"
          (click)="startGame()"
        >
          start Game
        </button>
      </nb-card-footer>
      <!-- *ngIf="gameStarted" -->
    </nb-card>
  </div>
</div>
