<div class="row ">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>{{ title }}</nb-card-header>
      <nb-card-body>
        <table>
          <thead>
            <tr>
              <th>Id Player</th>
              <th>Name Player</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{data.id}}</td>
              <td >
                <input nbInput type="text" [(ngModel)]="data.name">
              </td>

            </tr>

          </tbody>
        </table>

      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="success" shape="semi-round" (click)="savePlayer()">Save</button>
        <button nbButton status="primary" shape="semi-round" (click)="cancel()">Cancel</button>
      </nb-card-footer>
    </nb-card>

  </div>
</div>
