

@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

// $red: rgb(249, 3, 3);

.lyricRed {
  // color: $red;
  color: nb-theme(color-red);
}
nb-card{

    max-height: 95vh;


}
// table {
//   margin: 4% 0% 2% 0;
//   text-align: center;
//   border-collapse:collapse;
//   padding:5px;
//   // width: 40%;

//   th {
//     border:1px solid #C0C0C0;
//     padding:5px;
//     background:#F0F0F0;
//   }

//   td {
//     border:1px solid #C0C0C0;
//     padding:5px;
//   }
// }

// .table-center{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
// }

nb-card-footer{
  align-self: center;

}


.players {
  margin-bottom: 5%;
}


.select, .players {
  margin-top: 5%;
}


.form-group button {
  display: flex;
  margin: 20px 0 0 0;
  width: 150px;
}

// nb-select {
//   margin-top: -4%;
// }
// nb-card-body {
//   form {
//     display: flex;
//     justify-content: space-evenly;
//     align-content: center;
//     align-items: center;

//       }

// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form {
  margin: 2% 10% 3% 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .first--form{
    display:flex;
    flex-direction: column;
  }

  .form-group button{
    margin: 8px 0 0 0;
  }

  .second--form{
    display:flex;
    flex-direction: column;
    margin-top: 6%;
  }
}
