<div class="col-6 col-sm-4">

  <form [formGroup]="createCircuitForm">
    <!-- -->
    <!-- class="first--form" [ngClass]="{disable: isDisabledFirstForm}" -->


    <div class="form-group row ">
      <!-- [ngClass]="{disable: isDisabledSecondForm}" -->
      <label class="label col-sm-3 col-form-label">Name of Track</label>
      <div class="col-sm-9">
        <input type="text" nbInput status="info" placeholder="Write the name of Track" formControlName="nameOfTrack" />
        <div *ngIf="invalidField('nameOfTrack')">
          <span class="lyricRed">please write a number</span>
        </div>
      </div>

      <div class="form-group row ">
        <label class="label col-sm-3 col-form-label">Kilometers of Track</label>
        <div class="col-sm-9">
          <input type="number" nbInput status="info" placeholder="Write the kilometers of Track"
            formControlName="kilometers" />
          <div *ngIf="invalidField('kilometers')">
            <span class="lyricRed">please write a number</span>
          </div>
        </div>
      </div>


        <div formArrayName="lanes">
          <button nbButton shape="semi-round" status="primary" (click)="addLanes()">
            + Add lane
          </button>

          <div [formGroupName]="i" *ngFor="let lane of lanes.controls; let i = index">

            <label class="label col-sm-3 col-form-label">Name of Lane</label>
            <div class="col-sm-9">
              <input type="text" nbInput status="info" placeholder="Write the name of lane" formControlName="name"  />
              <span (click)="removeLane(i)">X</span>
            </div>
          </div>


      </div>


      <div class=" form-group">
        <button nbButton shape="semi-round" status="primary" [disabled]="disableButton()" (click)="enterDataCircuit()">
          Next
        </button>
        <button nbButton status="danger" shape="semi-round" (click)="reset()">
          Reset
        </button>
      </div>

    </div>





    <div class="table-center">
      <table>
        <thead>
          <tr>
            <th>Track</th>
            <th>Name of Track</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


  </form>


</div>
