<div class="row ">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>{{ title }}</nb-card-header>
      <nb-card-body>
        <div class="col-6 col-sm-4">
          <form [formGroup]="createCircuitForm">
            <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Name of Track</label>
              <div class="col-sm-9">
                <input type="text" nbInput status="info" placeholder="Write the name of Track" formControlName="name" />
                <div *ngIf="invalidField('nameOfTrack')">
                  <span class="lyricRed">please write a number</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="label col-sm-3 col-form-label">Kilometers of Track</label>
                <div class="col-sm-9">
                  <input type="number" nbInput status="info" placeholder="Write the kilometers of Track"
                    formControlName="kilometers" />
                  <div *ngIf="invalidField('kilometers')">
                    <span class="lyricRed">please write a number</span>
                  </div>
                </div>
              </div>



              <div formArrayName="lanes">
                <button nbButton shape="semi-round" status="primary" (click)="addLanes()">
                  + Add lane
                </button>

                <div [formGroupName]="i" *ngFor="let lane of lanes.controls; let i = index">
                  <label class="label col-sm-3 col-form-label">Name of Lane</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput status="info" placeholder="Write the name of lane"
                      formControlName="name" />
                    <span (click)="removeLane(i)">X</span>
                  </div>
                </div>


              </div>


            </div>
          </form>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="form-group">
          <button nbButton shape="semi-round" status="primary" [disabled]="disableButton()"
            (click)="enterDataCircuit()">
            Next
          </button>

          <button nbButton status="danger" shape="semi-round" (click)="cancel()">Cancel</button>

        </div>
      </nb-card-footer>
    </nb-card>
  </div>
