<form [formGroup]="configureGameForm">

  <div class="first--form col-md-6" [ngClass]="{disable: isDisabledFirstForm}">


    <div class="form-group row select">
      <label class="label col-sm-3 col-form-label">Select the track</label>

      <div class="col-sm-6" *ngIf="listOfTracks$ | async as tracks">
        <nb-select placeholder="Choose the Track" [(selected)]="selectedItem" status="info" formControlName="track">
          <nb-option *ngFor="let track of tracks " [value]="track">{{ track.name }}
          </nb-option>
          <nb-option>Choose the Track</nb-option>
        </nb-select>
      </div>
      <button nbButton shape="semi-round" status="primary" (click)="createCircuit()">+</button>
    </div>

    <div class="form-group row players">
      <label for="numberOfPlayers" class="label col-sm-3 col-form-label">How many players will participate</label>
      <div class="col-sm-3">
        <input type="number" nbInput id="numberOfPlayers" status="info" placeholder="Number of Players"
          formControlName="numberOfPlayers" />
        <div *ngIf="invalidField('numberOfPlayers')">
          <span class="lyricRed">Number of Players should be 3 or more</span>
        </div>
      </div>
    </div>

    <div class=" form-group">
      <button nbButton shape="semi-round" status="primary" [disabled]="disableButtonNext()" (click)="openFieldName()">
        Next
      </button>
      <button nbButton status="danger" shape="semi-round" (click)="resetConfigureForm()">
        Reset
      </button>
    </div>

  </div>



  <div class="form-group second--form col-md-6" [ngClass]="{disable: isDisabledSecondForm}">
    <label for="nameOfPlayer" class="label col-sm-3 col-form-label">Write the name of Player</label>
    <div class="col-sm-3">
      <input type="text" nbInput status="info" placeholder="Write the name of Player" id="nameOfPlayer"
        formControlName="nameOfPlayer" />
      <!-- (keyup.enter) = "enterPlayerKeyup($event)" -->
      <div *ngIf="invalidField('nameOfPlayer')">
        <span class="lyricRed">please write a name</span>
      </div>
    </div>

    <div class="form-group">
      <button id="btn" nbButton shape="semi-round" status="primary" [disabled]="disableButtonEntryPlayer()"
        (click)="enterPlayer()">
        Enter Player
      </button>
      <button nbButton shape="semi-round" status="danger" (click)="resetNameOfPlayerForm()">
        Reset
      </button>
      <button nbButton shape="semi-round" status="warning" (click)="back()">
        Back
      </button>
    </div>

    <table-component></table-component>


  </div>


</form>
